body{
    margin: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

*{
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    background-color: #dfe6e9;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

#clock {
    font-size: 60px;
    width: 400px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    margin-bottom: 150px;
}

.calendar{
    display: flex;
    width: 800px;
    background-color: white;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.3);
    position: relative;
}

.add-task{
    width: 400px;
    background-color: #00CCFF;
    align-self: flex-start;
    position: absolute;
    left: -400px;
    bottom: 0;
    display: none;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}

#task-title, #task-description{
    border:1px solid #2ecc71;
}

.month{
    display: flex;
    justify-content:space-around;
    align-items:center;
    background-color: #2ecc71;
    padding: 10px 0;
}

.prev, .next{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: all 0.4s;
}

.prev:hover, .next:hover{
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.date-display{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#month{
    font-size: 30px;
    font-weight: 500;
}

.weekends{
    display: flex;
    padding: 10px 0;
    background-color: #5c6b63;
    color: white;
}

.days{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
    background-color: #5c6b63;
    color: white;
}

.days div{
    margin-bottom: 10px;
    padding: 10px 0;
    transition: all 0.4s;
}

.weekends div, .days div{
    width: 14.28%;
    text-align: center;
}

.days div:hover{
    background-color: #dfe6a9;
    cursor: pointer;
}

.today{
    background-color: #2ecc71;
    color: black;
}

.prev-date{
    color: #999;
}

.calendar-2{
    display: flex;
    flex-direction: column;
    border: 2px solid #2ecc71;
    width: 500px;
    align-items: center;
}

.title{
    background-color:#00CCFF;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    font-size: 2vw;
}

.title h2{
    align-self: center;
}

.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 50%;
    font-weight:bold;
}

.tablink:hover {
    background-color: #777;
}

.tabcontent {
    color: white;
    display: none;
    width: 100%;
    text-align: center;
    height: 100%;
}

#Pending {background-color:#FF3333;}
#Upcoming {background-color:#2ecc71;}